.shell {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--dt-wallpaper) center / cover no-repeat;

  position: fixed;
  top: 0px;
  left: 0px;
}

.actionsBar {
  flex: 0 0 var(--actions-bar-height);
  min-height: 42px;
}

.content {
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.desktop {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}

.infoPanel {
  flex: 0 0 var(--info-panel-width);
  width: var(--info-panel-width);
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  border-radius: 0 0 0 var(--border-radius);
}

.dock {
  flex: 0 0 auto;
}
